.logo {
    width: 170px;
}

.robotics-section {
    margin-top: 80px;
}

.footer-links>li {
    list-style-type: none;
}

.active {
    color: black;
}

.classes-title {
    font-weight: bolder;
    color: bisque;
}

.classes-title-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.classes-list>li {
    list-style-type: none;
}